html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.app {
  background: linear-gradient(229deg, #ffab02 0%, #d8dfef 100%);
}

.content-wrapper {
  flex: 1;
  padding: 20px;
}

.logout-wrapper {
  text-align: center;
  margin-top: 20px;
}
