html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  background: linear-gradient(229deg, #e6a624 0%, #7e8ba5 100%);
}

.content-wrapper {
  flex: 1;
  padding: 20px;
}

.logout-wrapper {
  text-align: center;
  margin-top: 20px;
}
